.content {
    .post-wrapper {
        margin:10px;
        border: 1px solid #F7F7F7;
        .post{
            padding:10px;
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            h2 {
                width:100%;
            }
            p {
                margin-right:10px;
                margin-bottom:5px;
            }
    
        }
    
        ul {
            display:flex;
            li {
                list-style: none;
            }
            a {
                margin:10px;
                padding:5px 10px;
                border-radius:3px;
                background-color:#cecece;
            }
        }
    }
}